.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Ehthumbs.db
[Dd]esktop.ini
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
gophkeeper
gophkeeper-server
gophkeeper-client
*.out
*.prof
coverage.out
.env
*.env
local.env
.idea/
.vscode/
*.suo
*.workspace
